.getStart{
    width: 350px;
    position: absolute;
    background-color: #fff;
    height: 420px;
    margin:10px;
    right: 0;
    border-radius: 12px;
    margin-top: 20px;
}

.btn{
    background-color: #fff !important;
    border: 1px solid;
}
.bt{
    width: 250px;
}